<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        Filmmaker enthusiast originally from Monaco now studying Computer Science at the University of
                        Bath (UK). I discovered the magic of filmmaking at the age of 10, and it has since then been a
                        hobby that I enjoyed sharing with friends through social networks, mainly through my YouTube
                        channel.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        Starting with my father's camera, I learned to use new gear throughout the years, now mainly
                        using a Canon Legria HV40 and a Nikon D7000, as well as software such as Final Cut Pro X, Motion
                        5, Adobe After Effects and Adobe Photoshop.
                    </p>
                </div>
            </div>
        </div>
    </section>