<!-- jQuery -->
<script src="../assets/js/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../assets/js/bootstrap/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="../assets/js/jquery/jquery.easing.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../assets/js/theme.min.js"></script>
<!-- Structured Data (Schema Markup): -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "AdamouizationFilms",
        "url": "https://adamouization.jaamour.com/",
        "description": "Showcasing the filmmaking work of Adam Jaamour.",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://adamouization.jaamour.com/?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>
    